@import url("./error.css");

body {
    text-align: center; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/creation/petition-success.jpg");
}

.content{
    text-align: center; 
    margin-top: 20%;
}