<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Font Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion Google Font Server -->
    <!-- #region Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <!-- #endregion Google Font Server -->
    <link rel="stylesheet" href="/error.css" />
    <title>CATALYST | Error</title> 
  </head>
  <body>
    <header><%- include("./error/navbar.ejs") %></header>
    <main>
      <section id="errors-section">
        <%- include("./error/errors.ejs", { error }) %>
      </section>
    </main>
  </body>
</html>
   