<nav>
    <a class="nav-logo-link" href="/">
      <h4 class="nav-logo">Catalyst</h4>
    </a>
    <div class = "nav-links">
        <a class = "link-one" href="/">
            <h3 class="nav-text">MY LISTINGS</h3>
        </a>
        <a class = "link-two" href="/">
            <h3 class="nav-text">SUGGESTIONS</h3>
        </a>
        <a class = "link-three" href="/">
            <h3 class="nav-text">ABOUT</h3>
        </a>
        <a class = "link-four" href="/">
            <h3 class="nav-text">HOME</h3>
        </a>
    </div>
</nav>
  