
  <h4 class="account-section-title">REGISTER/LOGIN</h4>

<article class="account-carousel">
  <article class="account-slide">
    <%- include("./account/form.ejs", { type: "create" }) %>
  </article>

  <article class="account-slide">
    <%- include("./account/form.ejs", { type: "login" }) %>
  </article>
</article>

    <script src="/javascript/account.js"></script>
 