<section class="categories-viz">
    <h1>Explore Categories</h1>
    <div class="categories-choice">
      <% templates.forEach((template) => { %>
        <a class="choice-item" href="<%= template.URL %>">
          <span class="choice-logo"><%= template.logo %></span>
          <h2 class="choice-text"><%= template.title %></h2>
        </a>
      <% }) %>
    </div>
  </section>
  
  <section class="categories-content">
    <img class="cate-image" src="/categorysection.png">
  </section>
  