<section class="insights-boxes">
    <div class="num-img"></div>
    <div class="totals" id="users">
        <img class="users-img" src="/insights/group.png" />
        <span><%= users_counts %></span>
        <h4>ACTIVE MEMBERS</h4>
    </div>
    <div class="totals" id="signs">
        <img class="signs-img" src="/insights/contract.png" />
        <span><%= sign_counts %></span>
        <h4>TOTAL SIGNATURES</h4>
    </div>
    <div class="totals" id="petitions">
        <img class="petitions-img" src="/insights/petitions.png" />
        <span><%= petition_counts %></span>
        <h4>TOTAL PETITIONS</h4>
    </div>
    <div class="totals" id="insights-text">
        <!-- <img class="insights-quote" src="quote-icon.png" /> -->
        <h4 class="insig-text">One Click. <br> Countless Changes.</h4>
    </div>
</section>
