<section class = "inspired-main">
    <div id = "inspired-text">
        <h3>inspired by</h3>
    </div>
        <div class = "inspired-image">
            <img id = "img-2" src = "/inspired/ins-logo2.webp">
            <img id = "img-1" src = "/inspired/ins-logo1.png">
            <img id = "img-3" src = "/inspired/ins-logo3.png">
        </div>
</section>

<section class = "inspired-quote">
    <img class = "quote-img" src = "inspired/ins-quote.png">
    <div class = "quote-text">
    <!-- <h5 class = "text"> -->
        Together, We Can<br> Make a Difference!
    <!-- </h5> -->
    </div>
</section>