<div class = "introduction-viz">
    <img class = "introduction-image" src="/hands.png">
</div>

<section class = "introduction-content">
    <h4 class = "intro-title">Create. Support. Change.</h4>
    <div class = "intro-desc">
        Start or support petitions that shape a better tomorrow for everyone.
    </div>
</section>