<section id="start-link-container">
    <img class="pen-image" src="/pen-sign.png">
    <a class="start-main" href="<%= account === undefined ? '#account-section' : '/petition/start' %>">
        <h3 class="start-text">Start a Petition</h3>
    </a>
</section>
