<img class="error-image" src="/errors/warning.png" />

<div class="error-information-container">
  <div class="error-text-container">
    <h1 class="error-title"><%= error.title %></h1>
    <h2 class="error-description"><%= error.description %></h2>
  </div>

  <div class="error-links-container">
    <a class="error-link home" href="/">
      <img class="error-link-image" src="/errors/homepage.png" />
      <h4 class="error-link-text">Home</h4>
    </a>

    <a class="error-link other" href="/#account-section">
      <img class="error-link-image" src="/errors/reset.png" />
      <h4 class="error-link-text">Try Again</h4>
    </a>
  </div>
</div>
  