#home-petition{
    margin: 0rem;
    padding:0rem;
}

#featured-petitions {
    /* margin: 1rem 0; */
    height:40rem;
    align-items:center;
    border: 1px solid beige;
    justify-content: center;
    display:flex;
    flex-direction: column;
    padding: 0rem;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 8%;
    font-family: "Poppins", sans-serif;
  }
  
  .scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 1rem;
    scroll-behavior: smooth;
    align-items:center;
    justify-content: center;
 
  }
  h2.featured-text{
    font-family: "Poppins", sans-serif;
    font-size: 2.35rem;
    color:rgb(255, 255, 255);
    font-weight: 400;
    /* margin-top: 0rem; */
  }


  
  .petition-card {
    width: 24rem;
    height:27.5rem;
    background-color: #2a2b38;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    align-items:center;
    justify-content: center;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: bottom center;
    
  }

  h3.petition-title-f {
    display: -webkit-box;              
    -webkit-box-orient: vertical;     
    -webkit-line-clamp: 2;           
    overflow: hidden;  
    text-overflow: ellipsis;    
    max-width: 23rem;                
    height: 4rem;             
    text-align: center;         
    font-size: 1.40rem;
    line-height: 1.2;    
    margin: 0 auto;                    
    display: flex;                   
    align-items: center;   
    justify-content: center; 
    padding: 1rem;     
    font-weight: 400;              
  }
  

  img.petition-image-f{
    /* height: 5rem; */
    max-width:45rem;
    max-height:12rem;
  }

  .petition-supporters-f{

    align-items: center;
    justify-content: center;
    margin-top: 1rem;
   
  }
  
  p.petition-supporters-text{
    color:#610be2;
    font-size: 1.15rem;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width:16rem;
    margin-left:4rem;
    
  }

  p.petiton-author-f{
    color:azure;
    padding-top: 0.5rem;
  }



  
  .petition-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .petition-card:hover {
    transform: scale(1.05);
  }
  
  .sign-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #730069;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .sign-btn:hover {
    background-color: #5f0f5b;
  }
  