#introduction-section {
    box-shadow: 0px 5px 10px #1f2029; 
    border: 1px solid beige;
    height:35rem; 
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.introduction-viz {
    height: 37rem;  
    position: absolute;
    z-index: 2;
    opacity: 0.7;
    
}

.introduction-image{
    object-fit: contain;
    height: 35rem;
    /* mix-blend-mode:difference; */
    width: auto;
}

  
  
.introduction-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;

  
}
  
  /* Optional: Make layout responsive on small screens */
  @media (max-width: 768px) {
    .introduction-section {
      flex-direction: row;  
      flex-wrap: wrap; 
    }
  
    .introduction-viz, .introduction-content {
      width: 100%;  
      margin-bottom: 1rem;  
    }
  }
  
.intro-title{
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    color: #F93075;

}
.intro-desc{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color:aliceblue;
}