#start-petition-section {
    height: 15rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1rem;
    background-image: url('/crowd.png'); 
    background-repeat: repeat-x;
    background-size: 50%;
    background-position: center;
    background-color: rgba(31, 32, 41, 0.5); 
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(3px); 
    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s;
}

#start-link-container {
    background-color: rgba(31, 32, 41, 0.5); 
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* Safari support */
    height: 15rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;    
    display: flex;
    gap: 1rem;
}

#start-petition-section:hover {
    transform: scale(1.01);

}

img.pen-image {
    height: 4.5rem;  
}

a.start-main{
    height:3.50rem;
    border: 1px solid rgb(255, 255, 255);
    width:30rem;
    align-items: center;
    justify-content: center;    
    display: flex;
    background-color: transparent;
    border-radius: 8px;
    transition: all 200ms linear;
    box-shadow: 5px 5px #ffffff;
}



a.start-main:hover{
    filter: drop-shadow(0 0 0.35rem semi-transparent);
    transform: translate(0, 0);
    box-shadow: 0 0 0.35rem rgba(255, 255, 255, 0.8);
    border: 2px solid beige;
    transform: scale(1.01);
    background-color: #F93075;
    color: #000000;
    width:30rem;

}


h3.start-text{
    font-size: 2rem;
    font-weight: 600;
   
}


